.btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.heroBtn {
  padding: 0.75rem 1.4rem;
  border: 2px solid #E1065E;
  color: #f5f5f5;
  background: transparent;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  align-self: flex-start;  

  &:hover{
    color: #E1065E;
  }
}
