.footerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c22;
    border-top: 1px solid rgba(255,255,255,0.08);
    height: auto;
    width: 100%;
    padding-bottom: 3em;
    color: #f5f5f5;
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    padding: 3em 0;

}

.footerContainer .title{
    padding: 1em 4em;
    line-height: 1.5em;

     & h3{
        font-size: 1.2rem;
        padding-bottom: 1em;
        color: #e1065e;
    }


    & p, 
    & a{
        font-size: 1rem;
        color: #f5f5f5;
        cursor: pointer;
        text-decoration: none;
    }
}

.copyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    
    & p{
        font-size: 0.9rem;
    }
}

/* MOBILE */
@media (max-width: 768px){
    .footerContainer{
        justify-content: flex-start;

        & h3 {
            font-size: 1.05rem; 
        }

        & p, 
        & a {
            font-size: 0.9rem;      
        }
    }

    .copyRight p {
        font-size: 0.8rem;
    }
}