.navWrapper{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar{
  margin-top: 2rem;
  width: 100%;
  height: 90px;
  background-color: #1c1c22;
  display: flex;
  align-items: center;
}

.navContainer{
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.links {
  display: flex;
  list-style: none;
  gap: 4rem;

  & li {
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    & :hover{
      color: #E1065E;
    }
  }

  & a {
    color: #f5f5f5;
    text-decoration: none;
  }

}

.resumeBtn{
    color: #f5f5f5;
    width: 10rem;
    height: auto;
    margin-top: 1.5em;
    color: #f5f5f5;
    padding: 0 .75rem;
    cursor: pointer;
    border: #E1065E 2px solid;
}

.toggleIcon {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    margin-top: 0;     
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30; 
  }

  .logo {
    position: relative; 
    z-index: 35;
  }

  .links {
    display: none;
  }
  
  .expandedLinks {
    position: fixed;
    top: 90px;              
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    background: #1C1C22;
    backdrop-filter: blur(4px);
    z-index: 20; 

    margin: 0;
    padding: 0;

    overflow-y: auto; 
   
    & li{
      font-size: 24px;
    }
  }

  .toggleIcon {
    display: block;
    color: #f5f5f5;
    position: absolute;
    top: 28px;
    right: 20px;
    z-index: 30; 
  }
}

