@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira code', sans-serif;
}

.global-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #1C1C22;
}
